html, body {
  margin: 0;
  padding: 0;
  height: 100%;

}

.main-container {
  width: 100vw;        /* Full width */
  height: 100vh;       /* Full height */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0d8cc; /* your background color */
}
