@font-face {
  font-family: Petitcochon;
  src: url('/fonts/petitcochon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lazygod;
  src: url('/fonts/lazydog.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TheSeasons;
  src: url('/fonts/Theseasons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@import "tailwindcss";


@theme{
  --font-petitcochon: Petitcochon, "sans-serif";
  --font-lazydog: Lazydog, "sans-serfif";
  --font-theseasons: TheSeasons, "sans-serif"
}
