@font-face {
  font-family: Petitcochon;
  src: url('/fonts/petitcochon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lazygod;
  src: url('/fonts/lazydog.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TheSeasons;
  src: url('/fonts/Theseasons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ribbon/banner for SAVE label */
.save-banner {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(-12deg);
  background-color: #e5cbc7;
  color: #806154;
  font-weight: 700;
  font-size: 12px;
  padding: 4px 9px;
  border: 1px solid #806154;
  border-radius: 6px;
  box-shadow: 1px 1px 0 #806154;
  z-index: 10;
  white-space: nowrap;
}

/* small triangle beneath banner to mimic ribbon tail */
.save-banner::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-12deg);
  bottom: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #e5cbc7;
}

.flying-img {
  position: fixed;
  width: 80px;
  height: 80px;
  object-fit: contain;
  z-index: 9999;
  pointer-events: none;
  transition: transform 0.9s ease, opacity 0.9s ease;
}

.cart-target {
  position: relative;
}

@keyframes flyToCart {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}



@import "tailwindcss";


@theme{
  --font-petitcochon: Petitcochon, "sans-serif";
  --font-lazydog: Lazydog, "sans-serfif";
  /* --font-theseasons: TheSeasons, "sans-serif" */
}
